<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAgfK2RPrPH1JWb5kSBP6Esao9F4sqkEPk</string>
	<key>GCM_SENDER_ID</key>
	<string>909592406587</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.toki</string>
	<key>PROJECT_ID</key>
	<string>toki-2mqirk</string>
	<key>STORAGE_BUCKET</key>
	<string>toki-2mqirk.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:909592406587:ios:9e7f7ad7ddd521748fca1e</string>
</dict>
</plist>